doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Andrew Sheppard')
    meta(name='robots', content='index, follow')

    title
      block title
        | Ab-Initio

    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/lib.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='copyright', href='/copyright.html')

    include ./includes/compatibility.pug
    include ./includes/application-insights.pug
  body
    header
      include ./includes/navbar.pug

    main
      block main

    footer
      include ./includes/footer.pug

    script.
      (function() {
        'use strict';

        window.abi = !{JSON.stringify(abi)};
      })();
    script(src='/js/lib.js')
    script(src='/js/app.js')

    script(src='//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8', id='facebook-jssdk', async, defer)

    include ./includes/google-recaptcha.pug
    include ./includes/google-analytics.pug
