<!--[if lt IE 9]>
script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/rem/1.3.4/js/rem.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js')
<![endif]-->

script.
  ;(function() {
    /*
        Internet Explorer 10 in Windows Phone 8 versions older than Update 3 (a.k.a. GDR3)
        doesn’t differentiate device width from viewport width in @-ms-viewport at-rules,
        and thus doesn’t properly apply the media queries in Bootstrap’s CSS.
        To address this, you’ll need to include the following JavaScript to work around the bug.
    */
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
      var msViewport = document.createElement('style');
      msViewport.appendChild(
          document.createTextNode('@-ms-viewport{width:auto!important}')
      );
      document.head.appendChild(msViewport);
    }
  })();
