.ui.divider
.ui.center.aligned.container
  .ui.stackable.grid
    .four.wide.column
      section.support-details
        header.ui.header Support Details
        .ui.link.list
          a.item(href='tel:+44 0200 111 2222') +44 0200 111 2222
          a.item(href='mailto:email@address.com') email@address.com
    .five.wide.column
      section.related-links
        .ui.link.list
          a.item(href='#', target='_blank') A related link
          a.item(href='#', target='_blank') Some other link
          a.item(href='#', target='_blank') Another link
          a.item(href='#', target='_blank') One more link after this one
          a.item(href='#', target='_blank') The last link
    .seven.wide.column
      section.related-links
        .ui.link.horizontal.list
          a.item(href='#', target='_blank')
            i.large.twitter.square.icon
          a.item(href='#', target='_blank')
            i.large.facebook.square.icon
          a.item(href='#', target='_blank')
            i.large.pinterest.square.icon
          a.item(href='#', target='_blank')
            i.large.google.plus.square.icon
          a.item(href='#', target='_blank')
            i.large.linkedin.square.icon
    .sixteen.wide.column.centered
      .copyright Copyright © Company Brand 2017
