nav
  .ui.top.attached.menu.borderless
    .ui.container
      .ui.header.item Company l
      .ui.item.category.search.fluid(style='flex: 1')
        .ui.icon.input
          input(type='text', placeholder='Search...', autocomplete='off')
          i.search.link.icon
        .results
      .right.menu
        a.item Advertisement


//  .ui.menu.borderless
    .ui.container
      .header.item Company logo
      .menu.fluid
        .item
          .ui.category.search.fluid
            .ui.icon.input
              input(type='text', placeholder='Search animals...')
              i.search.icon
            .results
      .right.menu
        a.item Advertisement
//.ui.menu
  .ui.category.search.item.focus
    .ui.transparent.icon.input
      input.prompt(type='text', placeholder='Search animals...', autocomplete='off')
      i.search.link.icon
    .results

  .ui.menu.borderless
    .ui.container
      .ui.dropdown.item
        span List of categories
        i.dropdown.icon
        .menu
          .item Category 1
          .item Category 2
          .item Category 3
          .divider
          .item Separated Category A1
          .divider
          .item Separated Category B1
      a.active.item Home
      a.item Link 1
      a.item Link 2
      a.item Link 3
      .right.menu
        .ui.dropdown.item
          span Your account
          i.dropdown.icon
          .menu
            .item Item 1
            .item Item 2
            .item Item 3
            .divider
            .item Separated Item
        .ui.dropdown.item
          span Your lists
          i.dropdown.icon
          .menu
            .item Item 1
            .item Item 2
            .item Item 3
            .divider
            .item Separated Item
        a.item Your basket
